body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	float: left;
	width: 920px;
	padding: 10px;
}
#header {
	padding: 10px;
	float: left;
	width: 900px;
}
#navigasi {
	float: left;
	width: 900px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border: 1px solid #CCCCCC;
}
#navigasi ul {
	padding: 0px;
	float: left;
	width: 900px;
}
#conten {
	padding: 10px;
	float: left;
	width: 900px;
	margin-top: 20px;
	border: 1px solid #CCCCCC;
}
